/*CSS style sheet to style the css_relative_positioning.htm HTML document.
It showcases the use of relative positioning in CSS.*/


/*The main-section and title elements inside of this document are positioned 
relative to the position inside of the document they would have been placed if they
weren't moved by the positioning properties.
The menu-bar element, however, uses fixed positioning, which is relative to
the viewport of the HTML document and therefore doesn't move when the docu-
ment is scrolled down.*/
.main-section {
    height: 2000px;
    width: 600px;
    background-color: coral;
    margin-top: 20px;
    position: relative;
    top: 40px;
    text-align: center;
}

.menu-bar {
    position: fixed;
    top: 20px;
}
.title{
    position: relative;
    top: 20px;
}
