/*Two stiles that use the class selector to style the two different classes from the descendants.html web page*/
.titles{text-decoration: underline; text-transform: capitalize; color: hsl(225, 73%, 57%)}
.text_body{text-decoration: wavy; padding: 15px; background-color: hsl(240, 50%, 30%); color: white;}