/*Style sheet used in the general_transform
HTML document of the 22nd chapters' exercises.*/

h1{
    font-weight: bold; 
    text-decoration: black solid underline;
}

h1::first-letter{color: darkred; font-size: larger}

canvas{
    border: 2px dotted;
    border-radius: 2px;
}

figure{
    display: inline-block;
}

figure > figcaption{
    text-align: center;
    font-weight: bold;
} 